@charset "utf-8";
/* CSS Document */
body,td,th,p{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
  position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#app-icon {
  height: 1.5em;
  width: 1.5em;
  fill: #fff;
  margin-top: 5px;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  min-height: 60px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 300;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#maincontent {
  background-color: #f3f3f3;
  max-width: 100%;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
}
/* Toggle fixed position when map is open */
#maincontent.regular {
  position: static;
}
#maincontent.fixed {
  position: fixed;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(100% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* Map Styles for Mobile*/
#map-container {
  right: 0%;
  top: 201px;
  left: 40px;
  position: absolute;
  width: calc((100% - 80px) * 0.9);
  height: calc((100vw - 80px) * 0.9 * 0.75);
}
/* Toggle map styles */
#map-container.regular {
  visibility: hidden;
}
#map-container.mapped {
  visibility: visible;
  z-index: 2;
}
#map-container #map {
  height: 100%;
  width: 100%;
}
/* Put the map button beside the address */
#address-map {
  display: flex;
}
#map-fab {
  width:40px;
  height:40px;
  margin-left: auto;
  margin-right: auto;
  border-radius:100%;
  border: 1px solid rgba(0, 0, 255, 0.33);
}
#map-fab.regular {
  visibility: visible
}
#map-fab.large-screen {
  visibility: hidden;
}
#svg-picture {
  position: relative;
  fill: rgb(0, 0, 255);
  height: 80%;
  width: 80%;
  top: -30px;
  right: -1px;
}
#map-marker {
  fill: rgb(0, 0, 255);
  height:80%;
  width:80%;
}
.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
  min-height: 40px;
}
#restaurant-img {
  width: 90%;
  min-height: 20vh;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
  min-height: 40px;
}
#restaurant-cuisine {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
  min-height: 40px;
}
#restaurant-cuisine span:first-child {
  width: 100%;
}
#restaurant-cuisine span:last-child {
  font-size: 200%;
}
#favorite {
  display: flex;
  flex-direction: row;
}
#favorite.favorited {
  color: gold;
}
#favorite.unfavorited {
  color: inherit;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 15px 40px 30px;
}
#reviews-container {
  padding: 30px 40px 80px;
  min-height: 120vh;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#new-review .review-input {
  display: inline-grid;
  margin: 0 0 5px 14px;
}
#new-review .review-submit {
  display: flex;
  justify-content: flex-end;
  max-width: 20em;
}
/* [START] star rating styles */
fieldset {
  width: max-content;
  border: none;
}
fieldset div {
  float: left;
}
fieldset div:not(:checked) > input {
  position:absolute;
  clip:rect(0,0,0,0);
}
fieldset div:not(:checked) > label {
  float:right;
  width:1em;
  padding: 0px;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:200%;
  line-height:1.2;
  color:#ddd;
  text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}
fieldset div:not(:checked) > label:before {
  content: '\1F374';
}
fieldset div > input:checked ~ label {
  color: gold;
  text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}
fieldset div:not(:checked) > label:hover,
fieldset div:not(:checked) > label:hover ~ label {
  color: palegoldenrod;
  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}
fieldset div > input:checked + label:hover,
fieldset div > input:checked + label:hover ~ label,
fieldset div > input:checked ~ label:hover,
fieldset div > input:checked ~ label:hover ~ label,
fieldset div > label:hover ~ input:checked ~ label {
  color: #ea0;
  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}
fieldset div > label:active {
  position:relative;
  top:2px;
  left:2px;
}
/* [END] star rating styles */
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours {
  min-height: 33vh;
}
#restaurant-hours td {
  color: #666;
}
/* Make map always shown on iPad & larger devices */
@media screen and (min-width: 1024px) {
  html {
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  body {
    overflow: auto;
    height: 100%;
    width: 100%;
  }
  #maincontent {
    height: 100%;
    max-height: calc(100% - 111px);
    min-height: inherit;
    overflow: auto;
  }
  #map-container {
    right: 0%;
    left: 60%;
    top: 60px;
    bottom: 0px;
    position: absolute;
    width: 40%;
    height: calc(100vh - 60px);
    z-index: 1;
  }
  #map-container.regular {
    visibility: visible;
  }
  #map-container.mapped {
    visibility: visible;
  }
  #map-fab {
    display: none;
  }
  #restaurant-container {
    width: 60%;
  }
  #reviews-container {
    width: 60%;
  }
  #footer {
    width: calc(60% - 50px);
  }
}